.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 101;
  background: rgba(0, 0, 0, .7);
}

 .modal .container {
  position: relative;
  height: 100%;
}

.fa-angle-left, .fa-angle-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) scale(2);
  color: #ccc;
}
.fa-angle-left {
  left: 1rem;
}

.fa-angle-right {
  right: 1rem;
}

.modal-content img {
  max-height: 95vh;
}


